html
{
	background-color:#2980b9;
	height:100%;
	width:100%;
	
}
body
{
	height:100%;
	width:auto;
	margin:0;
}
#wrapper
{
	margin:43px auto 29px auto; 
	display:inline-block;
	position: absolute;
	width:960px;
	min-height:calc(100% - 72px);
	height:auto;
	left:0;
	right:0;
	background-color: #ecf0f1;
	-webkit-box-shadow:0 0 5px 4px #226997;
	-moz-box-shadow: 0 0 5px 4px #226997;
	box-shadow: 0 0 5px 4px #226997;
}

#content
{
	
	width:calc(100% - 180px);
	min-height:490px;
	height:auto;
	margin-left:180px;
}
#content h1
{
	margin:0 auto;
	padding-top:20px;
	width:738px;
	font:48px "Proxima Nova Light";
	line-height: 66px;
	color: #34495e;
	text-transform: uppercase;
}
legend
{
	padding:0;
}
legend p 
{
	font:bold 14px "Proxima Nova";
	color: #95a5a6;
	text-transform: uppercase;
	margin:0;
	padding:14px 0 14px 25px;
	border-bottom: solid 1px #dee1e2;
}
legend p>span {color:green; font-size:13px; }
#name_info
{
	width:325px;
	float:left;
	margin:20px 95px 0 18px;
}
[type="text"], textarea, #name_info span
{
	font:18px "Proxima Nova Light";
	color:#0d0b0b;
	width: 323px;
	border:solid 1px #dee1e2;
}
[type="text"]
{
	height:25px;
	margin-bottom: 15px;
	padding-left: 5px;
}
#name_info textarea 
{
    padding: 5px 5px;
    height: 90px;
    resize: none;
	margin-bottom:15px;
}
#price
{
	width:200px;
	text-align: right;
	padding-right:10px;
}
#name_info span
{
	border:none;
}
::-webkit-input-placeholder {color:red;}
::-moz-placeholder          {color:red;}/* Firefox 19+ */
::-moz-placeholder           {color:red;}/* Firefox 18- */
::-ms-input-placeholder      {color:red;}
	
	
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
#itemInfo, #images, #options
{
    margin: 0 auto 15px;
    width: 738px;
    height: auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px rgba(0,0,0,.1);
    box-shadow: 0 1px rgba(0,0,0,.1);
    border: solid 1px #dee1e2;
}
#label
{
	margin-top: 20px;
}
[type="radio"]:not(checked) 
{
    position: absolute;
    opacity: 0;
}
[type="radio"] 
{
    margin: 5px 12px 40px 0;
    float: left;
}
[type="radio"]:not(checked) + .label 
{
    position: relative;
    padding: 0 0 0 27px;
}
[type="radio"]+ .label 
{
    cursor: pointer;
}
.label 
{
    color: #0d0b0b;
    font: 18px "Proxima Nova Light";
    margin: 0 5px 0 0;
    display: inline-block;
}

[type="radio"]:not(checked) + .label:before 
{
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 15px;
    height: 15px;
    background-image: url(../images/radioPassive.png);
}
[type="radio"]:checked + .label:before 
{
    background-image: url(../images/radioActive.png);
}

label
{
	font:14px "Proxima Nova Light";
	color:#999999;
}
.wrap
{
	margin:15px 0 0 25px;
	float:left;
	text-align: center;
	margin-bottom:15px;
	font:16px "Supermolot Light";
	height:200px;
}
.image
{
	width:150px;
	height: 150px;
	outline:1px solid #555555;
	color:#9d9d9d;
	text-align: center;
	line-height: 150px;
}
.delete, .deleteVariant {
    color: #cb0000;
    border-bottom: 1px solid #f3d3d3;
    text-decoration: none;
	margin-top: 7px;
	display: inline-block;
	cursor: pointer;
	display:none;
}
.deleteVariant
{
	display:inline-block;
}

#options p 
{
	margin-bottom:15px;
}
#options input
{
	margin:0 10px 10px 18px;
}
#options>input:last-of-type
{
	margin-bottom:25px;
}
[type='submit'] 
{
    border: none;
    color: #02873a;
    font: 18px "Supermolot Light";
    cursor: pointer;
    background: none;
    border-bottom: 1px solid #7bb28d;
    padding: 0;
    margin:30px 30px;
	float:right;
}
#promoItem {border:none; margin:0; font: 13px "Proxima Nova Light"; color:red;}
[type='file'] 
{
	display:none;
	
}
.load {font:16px "Supermolot Light"; cursor:pointer; color: #8e44ad; display: inline-block; text-decoration: none; font-size: 16px; float:none; margin: 10px auto 0; border-bottom: 1px solid #ded3ea;}
.change { color: #099d48; text-decoration: none; font-size: 16px; float:none; margin: 10px auto 0; border-bottom: 1px solid #94cba5;}
[value="Удалить товар"]
{
	color: #cb0000;
	font-size: 14px;
	border-bottom: 1px solid #f3d3d3;
	margin-left:20px;
	float:left;
}
.clear {
    content: "";
	clear:both;
    display: block;
    height: 0;
	width:0;
	border-top:none;
	margin:0;
}
 