html
{
	background-color:#2980b9;
	height:100%;
	width:100%;
	
}
body
{
	height:100%;
	width:auto;
	margin:0;
}
#wrapper
{
	margin:43px auto 29px auto; 
	display:inline-block;
	position: absolute;
	width:960px;
	min-height:calc(100% - 72px);
	height:auto;
	left:0;
	right:0;
	background-color: #ecf0f1;
	-webkit-box-shadow:0 0 5px 4px #226997;
	-moz-box-shadow: 0 0 5px 4px #226997;
	box-shadow: 0 0 5px 4px #226997;
}

.navigate
{
	color:#95a5a6 !important;
}

#users
{
	background-color: #243342;
	color:#ffffff !important;
	cursor: pointer;
}
#orders:hover, #goods:hover
{
	background-color: #243342 !important;
	color:#ffffff !important;
}
#orders, #goods
{
	background-color: #34495e !important;
}

#orders::before
{
	background-position:11px -155px !important;
}
#users::before
{
	background-position:11px -124px !important;
}
#goods::before
{
	background-position:11px -62px !important;
}
/* 
#category::before
{
	background-position:11px -93px;
} 
*/



#content
{
	
	width:calc(100% - 180px);
	min-height:490px;
	height:auto;
	margin-left:180px;
}
#content h1
{
	margin:0 auto;
	padding-top:20px;
	width:738px;
	font:48px "Proxima Nova Light";
	line-height: 66px;
	color: #34495e;
	text-transform: uppercase;
}
#content table
{
	width:738px;
	background-color: #fff;
	margin:0 auto;
	font:16px "Proxima Nova Regular";
	border-collapse:collapse;
	border:1px inset #dee1e2;
}
#content table tr th
{
	font: bold 14px "Proxima Nova";
	color: #95a5a6;
	text-transform: uppercase;
	
}
#content table tr th:first-child
{
	text-align: left;
	padding-left:25px;
}

table tr
{
	border-bottom:1px solid #dee1e2;
	
}

td,th
{
	text-align: center;
}
th
{
	height:46px;
}
td
{
	height:55px;
	padding:0;
	color:#636363;
}
#content table tr td:first-child  
{
	color:#2c3e50;
	width:180px;
	line-height: 18px;
	text-align: left;
	padding-left:30px; 
	font-family:"Proxima Nova Semibold";
}

#content table tr td:nth-child(2)
{
	width:180px;
}

#content table tr td:nth-child(3)
{

	width:200px;
}

#content table tr td:last-child
{
	width:150px;
	
}

#content table tr:hover:not(:first-child)
{
	background:#f6f8fc;
	cursor: pointer;
}
#content table tr:hover td:first-child
{
	background:url(../images/lilac_line_table.jpg) repeat-y;
}
#lookUser [value='просмотр']
{
	cursor:url(../images/cursor/link_green.cur), pointer;
	color:#8e44ad;
	font:14px "Proxima Nova Semibold";
	text-decoration: none;
	margin:0;
	border-bottom:1px solid #ded3ea;
}
[type='submit']
{
	border:none;
	color:#02873a;
	font:14px "Supermolot Light";
	cursor: pointer;
	background:none;
	border-bottom:1px solid #7bb28d;
	padding:0;
	margin:5px 5px 10px;
}
#idUsera
{
	display:none;
}
.clear {
    content: "";
    display: block;
    height: 100px;
    width:736px;
    border:1px solid #dee1e2;
    border-top:none;
    margin:0 auto 25px;
    background-color:#fff;
}
 